#heading {
  color: white;
  background-color: blue;
  text-align: center;
  padding: 10px;
}

body {
  background-color: aqua;
  margin: 0px;
}

#video-list-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  width: 100vw;
}

.video-card {
  width: calc(25% - 40px);
  border-radius: 10px;
  text-align: center;
  color: blueviolet;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;

}

.channel-name {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.channel-logo {
  padding-right: 20px;
  padding-left: 10px;
}

.logo-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;

}

.thumbnail {
  width: 100%;

  border-radius: 15px;
}

.title {
  height: 10px;
  padding: 10px;
  margin: 0px;
  text-wrap:wrap;
  overflow: hidden;
  text-overflow:ellipsis ;
}

.description {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: blue;


}

.likes {
  color: rgb(226, 43, 156);
  margin: 0px;

}

.views {
  margin: 0px;
}